@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply font-bold text-4xl md:text-5xl
}
h2{
    @apply font-bold text-3xl md:text-4xl 
}
h3{
    @apply font-bold text-2xl md:text-3xl 
}
h4{
    @apply font-bold text-lg md:text-xl 
}
nav ul li:hover .dot{
    @apply bg-indigo-500
}
.badge{
    @apply py-4 px-8 rounded w-auto shadow-lg
}
.techs div:nth-child(1){
    @apply w-[70px] h-[70px] md:w-[100px] md:h-[100px]
}
.techs div:nth-child(2){
    @apply w-[100px] h-[100px] m-7 md:w-[150px] md:h-[150px]
}
.techs div:nth-child(3){
    @apply w-[50px] h-[50px] md:w-[70px] md:h-[70px]
}
.social{
    @apply rounded-full bg-white p-2 flex items-center justify-center m-2 cursor-pointer shadow-lg
    hover:bg-indigo-400 hover:transition-transform hover:scale-110 hover:text-white transition-all duration-700 ease-in-out
}
.btn{
    @apply flex justify-center items-center rounded-full w-[50px] h-[50px] bg-white m-4 transition-all hover:bg-indigo-600
}
.btn:hover svg{
    @apply text-white
}
.card{
    @apply min-w-[290px] w-full sm:w-fit flex justify-start items-center my-4 p-4 rounded-sm cursor-pointer transition-all duration-300 ease-in-out
    hover:shadow-lg
}
.card img{
    @apply w-[40px] h-[40px] mx-3
}
.card a{
    @apply font-medium
}
.work-card:hover{
    transform: rotateY(180deg)
}
.preserve-3d{
  transform-style: preserve-3d
}
.perspective{
  perspective: 1000px
}
.backface-hidden{
    backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.rotate-180{
    transform: rotateY(180deg)
}
.input-wrapper{
    @apply flex justify-center items-center w-full my-3 rounded-md cursor-pointer bg-neutral-300 
    transition-all duration-300 ease-in-out
}
.input, .textarea{
    @apply w-full p-4 border-none rounded-md bg-[#f2f7fb] focus:outline-none
}
.textarea{
    @apply hover:shadow-md h-[170px]
    
}